################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IdentityManaging/.vs/IdentityManaging/v16
/IdentityManaging/IdentityManaging.IdentityServer.API/obj
/IdentityManaging/IdentityManaging.IdentityServer.API/bin/Debug/netcoreapp3.1
